/****Login****/

body.login {
    background-image: linear-gradient(to right top, rgba(52, 58, 64, .5) 0, rgba(0, 62, 15, .8) 100%), url('../img/background.png')!important;
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.form-login .btn {
    background-color: #63C7A9;
    color: #fff;
}


/****site****/

#topbar {
    background: #363636 0% 0% no-repeat padding-box;
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
    opacity: 1;
}

#topbar .title-site {
    font: normal normal bold 23px/36px Montserrat;
    letter-spacing: 0.68px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    font-size: 10pt;
    top: 15px;
}

#home {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    opacity: 0.85;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#home .frase {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center!important;
}

#personagens {
    /* height: 1147px; */
    background-color: #363636;
    opacity: 1;
}

#personagens .card {
    border-radius: 27px!important;
    width: 287px!important;
    height: 560px!important;
}

#personagens .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block!important;
}


/* 
#personagens .owl-carousel .owl-item img {
    width: 70%!important;
} */

#personagens p {
    font-size: 10pt;
    color: #363636;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    color: #fff!important;
    font-size: 7rem!important;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.owl-nav .owl-next {
    right: 0;
    display: flex;
    margin-right: 2%;
    font-size: 25px !important;
}

.owl-nav .owl-prev {
    left: 0;
    display: flex;
    margin-left: 2%;
    font-size: 25px !important;
}

.owl-stage {
    display: block !important;
}

.owl-item {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.item {
    text-align: center;
}


/* #personagens .owl-nav .owl-next {
    right: -50px;
    display: flex;
    margin-right: 2%;
}

#personagens .owl-nav .owl-prev {
    left: -50px;
    display: flex;
    margin-left: 2%;
}

#personagens .owl-nav .owl-next,
.owl-nav .owl-prev {
    font-size: 60px;
} */

#contato {
    background: transparent linear-gradient(143deg, #7DEDE2 0%, #58B790 100%) 0% 0% no-repeat padding-box;
}

#contato .formulario {
    margin: -30px 0;
}

#contato .formulario h4 {
    font-weight: bold;
    color: #63C7A9;
}

#contato .formulario p {
    color: #363636;
}

#contato .btn {
    background-color: #63C7A9;
    color: #fff;
}

#footer {
    height: 100px;
    background-color: #363636;
}


/***Painel***/

#accordionSidebar {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.sidebar #sidebarToggle {
    height: auto!important;
    width: auto!important;
}

.sidebar-dark #sidebarToggle {
    background-color: transparent!important;
}

form label {
    font-weight: bold!important;
}


/** Table **/

#dataTable_filter {
    float: right;
}

.pagination {
    float: right!important;
}

.dataTables_empty {
    font-weight: bold;
    color: red;
    font-size: 12pt;
}

.table-responsive {
    overflow-x: hidden!important;
}

.table-responsive .img-personagem {
    width: 20px!important
}

.table-responsive .img-personagem img {
    max-width: 50%!important
}


/* td {
    white-space: nowrap;
} */

.parsley-errors-list>li {
    list-style: none;
    color: #f1556c;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
    font-size: 10pt;
}

.parsley-errors-list>li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 10pt;
    content: "\f071";
    position: absolute;
    left: 2px;
    top: -1px;
}

.ultima-alteracao {
    font-size: 10pt
}

.card-header h6 {
    color: #63C7A9!important;
}